/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/tests
/.jetbrains-dictionary-PL
/storage/logs
/storage/private
.editorconfig
.htaccess
.styleci.yml
artisan
CHANGELOG.md
composer.json
composer.lock
composer.phar
package.json
package-lock.json
php
phpunit.xml
README.md
server.php
webpack.mix.js
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/
/storage/private/
/storage/framework/cache/
/storage/framework/testing/
/storage/framework/sessions/
/storage/framework/views/
/storage/framework/
/storage/app/
/bootstrap/cache/
