:root {
    --c01: #e9eaee;
    --c02: #8db3f1;
    --c03: #606165;
    --c04: #36373b;
    --c05: #292a2d;
    --c06: #202125;
    --c07: #1c1d1e;
    --c08: #131414;

    --c20: #730743;
    --c21: #fbd30b;
    --c22: #ef6c00;
    --c23: #bdbdbd;
}

